.background {
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: auto;
}

.about-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: auto;
  width: 100%;
  padding: 80px 0px 50px 0px;
}

.about-tts {
  width: 50%;
  justify-content: left;
  h1 {
    font-size: 60px;
  }
  h2 {
    padding: 40px 0px 10px 0px;
  }
  .btn-link {
    color: black;
    font-size: 60px;
    padding: 30px 0px 10px 0px !important;
    margin-left: -2px;
  }
  .btn-link:hover {
    color: #edc2ed;
    text-decoration: none;
  }
}

@media only screen and (max-width: 768px){
  .about-tts {
    width: 90%;
    padding: 10px;
  }
}

.link a {
  color: black;
  text-decoration: none;
  font-weight: 900;
}

.link a:hover {
  color: #edc2ed;
}

#mc-embedded-subscribe-form.validate {
  padding: 0px;
}

#mc-embedded-subscribe.button {
  color: black !important;
  background-color: #edc2ed !important;
  margin-bottom: 30px !important;
  border: 1px solid black !important;
}

#mc-embedded-subscribe.button:hover {
  color: #edc2ed !important;
  background-color: black !important;
}

#ticket-button {
  font-size: 60px;
  margin-left: -4px;
}

@media only screen and (max-width: 768px) {
  #ticket-button {
    font-size: 60px;
    margin: 0px;
  }
  .btn-link {
    margin: 0px;
  }
}
