@media only screen and (max-width: 414px) {
#smaller-title {
  font-size: 45px;
  }
}

@media only screen and (max-width: 280px) {
#smaller-title {
  font-size: 40px;
  }
}

.btn-secondary {
  background-color: #edc2ed;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
}

.btn-secondary:hover {
  background-color: black;
  color: #edc2ed;
  border: 1px solid black;
}

#tickets {
  padding: 40px 0px;
}

#gift-card {
  padding: 0px;
}

.col-12 {
  padding: 0px;
}

.col-lg-6 {
  padding: 0px;
}

#buy-button {
  display: flex;
  justify-content: right;
  align-items: start;
}

@media only screen and (max-width: 768px){
  #buy-button {
  display: flex;
  justify-content: left;
  align-items: start;
  }
}

@media only screen and (max-width: 768px){
  #tickets {
  padding: 40px 0px 25px 0px;
  }
}

@media only screen and (max-width: 768px){
  #gift-card {
  padding: 20px 0px 0px 0px;
  }
}

/*#box-pic-2 {
  border: 1px solid black;
}*/

/*.tts-banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-delivery-title {
  width: 50%;
    h1 {
      margin: 0px;
      color: #edc2ed;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      font-size: 60px;
    }
}*/
