@media only screen and (max-width: 414px) {
#smaller-title {
  font-size: 45px;
  }
}

.btn-secondary {
  background-color: #edc2ed;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
}

.btn-secondary:hover {
  background-color: black;
  color: #edc2ed;
  border: 1px solid black;
}

#box-pic-2 {
  border: 1px solid black;
}

/*.tts-banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-delivery-title h1 {
  margin-left: 50px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}*/
