@media only screen and (max-width: 414px) {
#smaller-title-3 {
  font-size: 35px;
  }
}

@media only screen and (max-width: 280px) {
#smaller-title-3 {
  font-size: 30px;
  }
}

#beer-title {
  padding-top: 20px;
}

@media only screen and (max-width: 280px) {
#beer-title {
  font-size: 25px;
  }
  a {
    font-size: 20px;
  }
}

.alcohol-title {
  margin-top: 30px;
}

@media only screen and (max-width: 280px) {
.alcohol-title {
  font-size: 25px;
  }
  a {
    font-size: 20px;
  }
}

.btn-link-drinks {
    color: black;
    font-size: 32px;
    padding: 40px 0px 10px 0px;
    margin-left: -2px;
}

.btn-link-drinks:hover {
    color: #edc2ed;
    text-decoration: none;
}

@media only screen and (max-width: 375px) {
  .btn-link-drinks {
    padding: 30px 0px 0px 0px;
  }
}

@media only screen and (max-width: 280px) {
  .btn-link-drinks {
    padding: 30px 0px 0px 0px;
    font-size: 25px;
  }
}
