.event-page-part-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  height: auto;
  width: 100%;
  padding: 60px 0px 50px 0px;
}

.about-events {
  justify-content: left;
  width: 50%;
  h1 {
    padding: 20px 0px;
    font-size: 60px;
  }
  h2 {
    padding: 20px 0px 10px 0px;
  }
  .btn-link {
    color: black;
    font-size: 60px;
    padding: 30px 0px 10px 0px !important;
    margin-left: -2px;
  }
  .btn-link:hover {
    color: #edc2ed;
    text-decoration: none;
  }
}

@media only screen and (max-width: 768px){
  .about-events {
    width: 90%;
    padding: 10px;
  }
}

#subtitles {
  font-weight: 900;
}

#movie {
  margin-bottom: 16px;
}

.link a {
  color: black;
  text-decoration: none;
  font-weight: 900;
}

.link a:hover {
  color: #edc2ed;
}

.box-pic {
  height: auto;
  width: 100%;
  border-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 16px;
}

