.background {
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: auto;
}

.banner {
  text-align: center;
  min-height: 100vh;
}

.tts {
    width: 60%;
    height: auto;
}

@media only screen and (max-width: 768px){
  .tts {
    width: 100%;
    height: auto;
  }
}

.btn-link {
  color: black;
  font-size: 30px;
}

.btn-link:hover {
    color: #f7aef8;
    text-decoration: none;
}

@media(max-width: 768px) {
  .container {
    position: relative;
    padding: 20px;
  }
  .btn-link {
    margin: 20px;
  }
}

.about-events {
  width: 54%;
  min-height: 90vh;
  overflow: auto;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0px 40px 0px;
  h1 {
    margin-top: 8px;
    padding: 20px 40px;
    display: flex;
  }
  h5 {
    padding: 10px 40px;
  }
}

@media only screen and (max-width: 768px){
  .about-events {
    width: 100%;
    padding: 0px 10px 40px 10px;
  }
}

.link a {
  color: black;
  text-decoration: none;
  font-weight: 900;
}

.link a:hover {
  color: #f7aef8;
}
