.background {
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: auto;
}

.banner {
  text-align: center;
  min-height: 100vh;
}

@media only screen and (max-width: 10000px){
  .tts {
    width: 55%;
    height: auto;
  }
}

@media only screen and (max-width: 1440px){
  .tts {
    width: 60%;
    height: auto;
  }
}

@media only screen and (max-width: 768px){
  .tts {
    width: 100%;
    height: auto;
  }
}

.btn-link {
  color: black;
  font-size: 32px;
}

.btn-link:hover {
    color: #f7aef8;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .container {
    position: relative;
    padding: 20px;
  }
  .btn-link {
    margin: 20px;
  }
}

.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  overflow: auto;
  width: 100%;
}

.about-events {
  width: 54%;
  justify-content: left;
  h2 {
    padding: 0px 40px 20px 40px;
  }
  p {
    padding: 0px 40px;
  }
  .btn-link {
    color: black;
    font-size: 40px;
    margin: 30px 0px 0px 0px;
    padding: 0px 40px;
  }
  .btn-link:hover {
    color: #f7aef8;
    text-decoration: none;
  }
}

@media only screen and (max-width: 768px){
  .about-events {
    width: 100%;
    padding: 0px 10px 40px 10px;
  }
}

@media only screen and (max-width: 576px){
  #about {
    padding-top: 30px;
  }
}

#events {
  h2 {
    margin-top: 20px;
    padding-top: 30px;
  }
}

.link a {
  color: black;
  text-decoration: none;
  font-weight: 900;
}

.link a:hover {
  color: #f7aef8;
}

#mc_embed_signup {
  padding: 0px 40px;
}

@media only screen and (max-width: 576px){
  #mc_embed_signup {
    width: 150%;
  }
}

#mc-embedded-subscribe-form.validate {
  padding: 0px;
}

#mc-embedded-subscribe.button {
  background-color: black !important;
  margin-bottom: 30px !important;
}

#mc-embedded-subscribe.button:hover {
  background-color: #f7aef8 !important;
}
