.booking-form {
  //background-color: black;
  color: black;
  background-size: 100% 100%;
}

.booking-title {
  padding: 20px 0px 0px 50px;

  h1 {
    font-size: 500%;
  }
}

.bookings {
  padding: 0px 50px 0px 50px;

  //.btn-primary {
    //background-color: white;
    //color: black;
    //padding: 20px;
    //border-radius: 10px;
    //border: white 1px solid;
  //}

  //.btn-primary:hover {
    //background-color: black;
    //color: white;
  //}
}

.back-button {

  .btn-link {
  color: black;
  font-size: 2vw;
  padding: 20px 50px;
}

.btn-link:hover {
    color: white;
    text-decoration: none;
}
  //.btn-outline-primary {
    //padding: 10px;
    //border-radius: 10px;
    //color: white;
    //background-color: black;
    //border: white 1px solid;
    //box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    //font-size: 15px;
    //margin: 50px;
  //}

  //.btn-outline-primary:hover {
    //color: black;
    //background-color: white;
  //}
}

.swish-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  resize: vertical;
  overflow: auto;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 50px;
}

