.confirmation {
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: auto;
  align-items: center;
  padding: 0px 30px;
  h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 576px){
  .confirmation {
    padding: 40px 20px 30px 20px;
  }
}

.confirmation-title {
  text-align: left;
  width: 50%;
}

.confirmation-back-button {
  text-align: left;
  width: 50%;
  .btn-link {
    color: black;
    font-size: 32px;
    padding: 0px !important;
    margin-left: -2px;
  }
  .btn-link:hover {
    color: #edc2ed;
    text-decoration: none;
  }
}

@media only screen and (max-width: 768px){
  .confirmation-title {
    width: 90%;
  }
  .confirmation-back-button {
    width: 90%;
  }
}



