<div class="footer-links">
        <a target="_blank" href="https://www.instagram.com/tastethescene/"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-vimeo"></i></a>
</div>
<div class="email">
  <a href="mailto:info@tastethescene.com">Email: info@tastethescene.com</a>
</div>
