<div class="footer-links">
        <a target="_blank" href="https://www.instagram.com/tastethescene/"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-vimeo"></i></a>
</div>

<div id="footer-title">
  <h5> Taste The Scene</h5>
</div>

<div class="email">
  <a href="mailto:info@tastethescene.com">Email: info@tastethescene.com</a>
</div>


<%#= link_to root_path do %>
  <!-- <h5>Taste the Scene</h5> >
<%# end %>
