<div class="footer">
  <div class="footer-links">
    <a target="_blank" href="https://www.instagram.com/tastethescene/"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="email">
    <h4><a href="mailto:info@tastethescene.com">info@tastethescene.com</a><h4>
  </div>
  <div class="footer-copyright">
    <p>Copyright © 2022 Taste the Scene. All rights reserved.</p>
  </div>
</div>
