<!--<div class="confirmation" style="background-image: url(https://res.cloudinary.com/dlsa2pdia/image/upload/v1624699532/Gingham_pvum9m.jpg)">
  <div class="confirmation-title">
    <h1><%= @order.name %>, this is a confirmation of your order</h1>
      <p>Your request has been received</p>
  </div>
      <div class="confirmation-information">
        <h2>Next step</h2>
          <p>You will receive a text within 24 hours so you can Swish payment and add any further information if needed</p>
      </div>
    <div class="confirmaion-button">
      <h3><%=link_to "Back to the home page", root_path, class: "btn btn-link" %></h3>
    </div>
</div>-->
