<div class="background" style="background-image: url(https://res.cloudinary.com/dlsa2pdia/image/upload/v1624699532/Gingham_pvum9m.jpg)">
  <div class="about-page">
    <div class="about-tts">
        <h1>ABOUT</h1>
          <h2>...but what is it?</h2>
            <p class="link">Taste the Scene creates cinematic experiences, taking participants on sensory journeys while watching a movie. <a target="_blank" href="https://mdghs.se/">Mathias Dahlgren Restaurant</a> puts together a tasting menu, curated to fit the essence of each and every story.</p>
          <h2>...but how does it work?</h2>
           <p>While watching a movie, we'll mostly show classics, you will eat or drink from a curated set menu during specific scenes in the film. Serving filmophiles, foodies and everyone in between, the movie will culminate into a mind-blowing sensory adventure.</p>
            <p class="link">The experience is available for home delivery and also shown in physical, cinema-like spaces.</p>
          <h2>...but who are you?</h2>
            <p>Working as an Event Producer in London for 10 years, building out-of-the-ordinary experience based events, Malin came to Stockholm in 2019. A year later she founded Taste the Scene.</p>
              <p>Multi-award winning Mathias Dahlgren Restaurant share Taste the Scene’s philosophy of quality crafted and ingeniously creative cuisine. The collaboration was inevitable.</p>
          <h2>...want to know more?</h2>
            <!--<p class="link">Tickets are currently available for the Taste the Scene home experience. To find out more, go to our <a href="/delivery">Home Experience</a> page.</p>-->
            <p class="link">You can follow us on <a target="_blank" href="https://www.instagram.com/tastethescene/">Instagram</a> or email us at <a href="mailto:info@tastethescene.com">info@tastethescene.com</a> for any enquiries.</p>
              <p class="link">For the latest updates or to gain exclusive pre-sale access to tickets, please enter your email address below to sign up to our mailing list:</p>
              <!-- Begin Mailchimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
                  <style type="text/css">
                    #mc_embed_signup{background:transparent; clear:left; font:14px Helvetica,Arial,sans-serif; }
                    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                  </style>
                    <div id="mc_embed_signup">
                      <form action="https://tastethescene.us5.list-manage.com/subscribe/post?u=68458ef61abb9e517af4385d8&amp;id=c79325adc4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">

                          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_68458ef61abb9e517af4385d8_c79325adc4" tabindex="-1" value=""></div>
                              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            </div>
                      </form>
                    </div>
              <!--End mc_embed_signup-->
                  <!--<a class="btn btn-link" id="ticket-button" href="/events" role="button">TICKETS</a>-->
      </div>
  </div>
</div>


