<div class="confirmation" style="background-image: url(https://res.cloudinary.com/dlsa2pdia/image/upload/v1624699532/Gingham_pvum9m.jpg)">
  <div class="confirmation-title">
    <h1>Thank you for subscribing</h1>
      <p>Your subscription to our mailing list has been confirmed.</p>
        <p>We will email you soon with all our latest updates and information regarding upcoming events (and we would never use or share your email address for any other purpose).</p>
          <p>If you ever wish to unsubscribe from our mailing list, please follow the link in the confirmation email you have just been sent.</p>
  </div>
</div>
