<div class="background" style="background-image: url(https://res.cloudinary.com/dlsa2pdia/image/upload/v1624699532/Gingham_pvum9m.jpg)">
  <!--<div class="tts-banner" style="background-image: url(https://res.cloudinary.com/dlsa2pdia/image/upload/v1631822464/BILD_11921_copy_wdm98y.jpg)">
    <div class="home-delivery-title">
    <h1>HOME DELIVERY</h1>
  </div>
</div>-->
  <div class="event-page-part-1">
      <div class="about-events">
            <h1 id="smaller-title">HOME EXPERIENCE</h1>
              <p>Taste the Scene and Mathias Dahlgren Restaurant craft a curated tasting menu, served in a custom made box that will be delivered to your door.</p>
              <p>The movie is provided by SF Anytime to be viewed on your TV/laptop while an audio guide leads you through the experience simultaneously on your Smartphone.</p>
            <!--<h2>COST</h2>
              <p>795 kr per person</p>-->
            <h2>WHAT IS INCLUDED</h2>
                <ul>
                  <li>Nine canape sized dishes and two 50ml non alcoholic beverages in a custom made box.</li>
                  <li>The film from SF Anytime.</li>
                  <li>A Vimeo Audio Guide that will tell you when to open each box during the movie.</li>
                  <li>Delivery within the pink shaded area as shown in the map below:</li>
                </ul>
                    <img class="box-pic" id="box-pic-2" src="https://res.cloudinary.com/dlsa2pdia/image/upload/v1632856256/Map_Final_wdqype.png">
            <h2>WHAT YOU NEED TO HAVE FOR THE EXPERIENCE</h2>
                <ul>
                  <li>A place to watch the movie, such as your home.</li>
                  <li>Smart TV or Laptop with wifi connection to watch the movie on SF Anytime.</li>
                  <li>Smartphone with wifi connection for the Vimeo Audio Guide.</li>
                  <li>A spoon per person.</li>
                </ul>
              <!--<h5>OPTIONAL</h5>
                <p class="link">Alcoholic drinks to be enjoyed with the experience recommended by the Head Sommelier at Mathias Dahlgren Restaurant <a href="/drink_pairing">HERE</a>.</p>
            <h2>MOVIE</h2>
              <h5 id="movie">AMELIE</h5>
                <p id="subtitles">Please note this movie is only available in French with Swedish subtitles on SF Anytime.</p>
                    <p><em>Amelie is not like other girls. The Montmartre cafe waitress has seen her fair share of tragedy in life but above all, she’s bursting with imagination and good intentions. One day, she decides to help others and along the way, she discovers love.</em></p>
                    <p class="link">Read more about the movie on IMDb <a target="_blank" href="https://www.imdb.com/title/tt0211915/?ref_=fn_al_tt_1">HERE</a>.</p>-->
                      <!--<img class="box-pic" id="box-pic-1" src="https://res.cloudinary.com/dlsa2pdia/image/upload/v1631822464/BILD_11921_copy_wdm98y.jpg">-->
            <h2>TICKETS</h2>
              <p>Following our recent successful Home Experience run with the movie <em>Amelie</em>, more tickets will be coming soon.</p>
              <p class="link">If you would like to know more, please sign up to our mailing list on our <a href="/about">About</a> page.</p>
              <!--<p>Order your box to be delivered and experienced here:</p>
                  <a class="btn btn-secondary btn-lg btn-block" href="https://events.magnetevents.com/Event/taste-the-scene-home-experience-presents-amelie-43930/" role="button">Buy Tickets for Friday 29th October 2021</a><br></br>
                  <a class="btn btn-secondary btn-lg btn-block" href="https://events.magnetevents.com/Event/taste-the-scene-home-experience-presents-amelie-44467/" role="button">Buy Tickets for Friday 5th November 2021</a><br></br>
                  <a class="btn btn-secondary btn-lg btn-block" href="https://events.magnetevents.com/Event/taste-the-scene-home-experience-presents-amelie-44468/" role="button">Buy Tickets for Friday 12th November 2021</a><br></br>
                  <a class="btn btn-secondary btn-lg btn-block" target="_blank" href="https://secure.tickster.com/c9h9463jka6xyb8" role="button">Buy Tickets for Friday 19th November 2021</a><br></br>
              <p>Bookings will close 4 days before the delivery date.</p>-->
            </div>
          </div>
        </div>
