<div class="background" style="background-image: url(https://res.cloudinary.com/dlsa2pdia/image/upload/v1624699532/Gingham_pvum9m.jpg)">
  <!--<div class="tts-banner" style="background-image: url(https://res.cloudinary.com/dlsa2pdia/image/upload/v1631822464/BILD_11921_copy_wdm98y.jpg)">
    <div class="home-delivery-title">
    <h1>HOME DELIVERY</h1>
  </div>
</div>-->
  <div class="event-page-part-1">
      <div class="about-events">
            <h1>COMING SOON: HOME DELIVERY</h1>
              <p>Taste the Scene and Mathias Dahlgren Restaurant have crafted a curated tasting menu to be enjoyed alongside the movie <em>Amelie</em>, which will be served in an elegant custom-made box that you will be delivered to your door.</p>
              <p id="ticket-sales">Tickets will be available soon for the home delivery experience.</p>
            <h2>DATES</h2>
              <p>The boxes will be delivered and the experience will take place on the following dates:</p>
              <!--<p>Order your box to be delivered and experienced on any of the following dates:</p>-->
                <ul>
                  <li>Friday 29 October 2021</li>
                  <li>Friday 12 November 2021</li>
                  <li>Friday 26 November 2021</li>
                </ul>
              <p>Bookings will close 5 days before the delivery date.</p>
                <!--<h2>COST</h2>
                  <p>The ticket price is 795kr per person.</p>
                <h2>WHAT IS INCLUDED</h2>
                  <p>Included in the ticket price is:</p>
                    <ul>
                      <li>Nine canape sized dishes and two 50ml non alcoholic beverages in a custom made box.</li>
                      <li>The film <em>Amelie</em> from SF Anytime. You will be provided with a value code (värdekod) that can be used to view the movie.</li>
                      <li>Vimeo sound link with instructions of when to open each numbered box.</li>
                    </ul>
                  <p>Delivery of the box can be added on top of the ticket price.</p>-->
                    <img class="box-pic" id="box-pic-1" src="https://res.cloudinary.com/dlsa2pdia/image/upload/v1631822464/BILD_11921_copy_wdm98y.jpg">
                <!--<h2>WHAT YOU NEED FOR THE EXPERIENCE</h2>
                  <p>To make the most of the experience, you will need the following:</p>
                    <ul>
                      <li>A place to watch the movie, such as your home.</li>
                      <li>Smart TV or Laptop (with wifi connection) to watch the movie from SF Anytime.</li>
                      <li>Smartphone (with wifi connection) for the sound instructions.</li>
                      <li>A spoon for each person participating.</li>
                    </ul>
                  <p>Once you have this all set up, you are ready to go.</p>
                <h2>INFO ABOUT DELIVERY</h2>
                  <p>The deliveries will be made between 16:00 and 19:00. Please be at your chosen delivery location during this time to accept the delivery.</p>
                    <p>Deliveries can only be made anywhere within ‘the toll walls of Stockholm’ as indicated by the pink line in the map below:</p>-->
                <h2>MOVIE</h2>
                  <h5 id="movie">AMELIE</h5>
                    <p id="subtitles">Please note this movie is only available in French with Swedish subtitles.</p>
                    <p><em>Amelie is not like other girls. The Montmartre cafe waitress has seen her fair share of tragedy in life but above all, she’s bursting with imagination and good intentions. One day, she decides to help others and along the way, she discovers love.</em></p>
                    <p class="link">Read more about the movie on <a target="_blank" href="https://www.imdb.com/title/tt0211915/?ref_=fn_al_tt_1"> IMDb here</a>.</p>
                    <!--<a class="btn btn-link" id="ticket-button" href="" role="button">BUY TICKETS</a>-->
            </div>
          </div>
        </div>
