<div class="background" style="background-image: url(https://res.cloudinary.com/dlsa2pdia/image/upload/v1624699532/Gingham_pvum9m.jpg)">
  <!--<div class="tts-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlsa2pdia/image/upload/v1638724232/BILD_11898_edited_2_hncn3g.jpg)">
    <div class="home-delivery-title">
    <h1>HOME EXPERIENCE</h1>
  </div>
</div>-->
  <div class="delivery-page-part-1">
      <div class="about-events">
            <h1 id="smaller-title">HOME EXPERIENCE</h1>
              <p>Taste the Scene and Mathias Dahlgren Restaurant craft a curated tasting menu, served in a custom made box that will be delivered to your door.</p>
              <p>The movie is provided by SF Anytime to be viewed on your TV/laptop while an audio guide leads you through the experience simultaneously on your smartphone.</p>
              <p>Delivery of the box will take place between 09:00 and 18:00 on the day you book tickets for. The tasting menu can be enjoyed at any point of the same weekend once delivery has been made.</p>
              <p>Bookings will close 5 days before the delivery date.</p>
            <h2>COST</h2>
              <p>795 kr per person</p>
            <h2>WHAT IS INCLUDED</h2>
                <ul>
                  <li>Nine canape sized dishes and two 50ml non alcoholic beverages in a custom made box.</li>
                  <li>The film from SF Anytime.</li>
                  <li>A Vimeo Audio Guide that will tell you when to open each box during the movie.</li>
                  <li>Delivery within Stockholm and the surrounding area as shown in the map below:</li>
                </ul>
                        <div class="gallery">
                      <img class="box-pic" id="box-pic-2" src="https://res.cloudinary.com/dlsa2pdia/image/upload/v1638823210/Screenshot_2021-12-06_at_17.00.47_ftoyzq.png">
                    </div>
            <h2>WHAT YOU NEED TO HAVE FOR THE EXPERIENCE</h2>
                <ul>
                  <li>A place to watch the movie, such as your home.</li>
                  <li>Smart TV or Laptop with wifi connection to watch the movie on SF Anytime.</li>
                  <li>Smartphone with wifi connection for the Vimeo Audio Guide.</li>
                  <li>A spoon per person.</li>
                </ul>
              <!--<h5>OPTIONAL</h5>
                <p class="link">Alcoholic drinks to be enjoyed with the experience recommended by the Head Sommelier at Mathias Dahlgren Restaurant <a href="/drink_pairing">HERE</a>.</p>
            <h2>MOVIE</h2>
              <h5 id="movie">AMELIE</h5>
                <p id="subtitles">Please note this movie is only available in French with Swedish subtitles on SF Anytime.</p>
                    <p><em>Amelie is not like other girls. The Montmartre cafe waitress has seen her fair share of tragedy in life but above all, she’s bursting with imagination and good intentions. One day, she decides to help others and along the way, she discovers love.</em></p>
                    <p class="link">Read more about the movie on IMDb <a target="_blank" href="https://www.imdb.com/title/tt0211915/?ref_=fn_al_tt_1">HERE</a>.</p>-->
            <h2 id="tickets">TICKETS</h2>
                <div class="container">
                  <div class="row">
                    <div class="col-12 col-lg-6">
                      <h5>WHEN HARRY MET SALLY</h5>
                      <h5>12 February 2022</h5>
                        <p class="link">Read about the movie on IMDb <a target="_blank" href="https://www.imdb.com/title/tt0098635/">HERE</a>.</p>
                    </div>
                    <div class="col-12 col-lg-6" id="buy-button">
                      <a class="btn btn-secondary btn-lg" target="_blank" href="https://secure.tickster.com/gw7nxk807wdxt9n" role="button">BUY TICKETS HERE</a><br></br>
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-12 col-lg-6">
                      <h5>THE GRAND BUDAPEST HOTEL</h5>
                      <h5>19 March 2022</h5>
                      <p class="link">Read about the movie on IMDb <a target="_blank" href="https://www.imdb.com/title/tt2278388/?ref_=nv_sr_srsg_0">HERE</a>.</p>
                    </div>
                    <div class="col-12 col-lg-6" id="buy-button">
                      <a class="btn btn-secondary btn-lg" target="_blank" href="https://secure.tickster.com/r5yu63bwk6vgd2f" role="button">BUY TICKETS HERE</a><br></br>
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-12 col-lg-6">
                      <h5>E.T. THE EXTRA-TERRESTRIAL</h5>
                      <h5>23 April 2022</h5>
                      <p class="link">Read about the movie on IMDb <a target="_blank" href="https://www.imdb.com/title/tt0083866/?ref_=nv_sr_srsg_0">HERE</a>.</p>
                    </div>
                    <div class="col-12 col-lg-6" id="buy-button">
                      <a class="btn btn-secondary btn-lg" target="_blank" href="https://secure.tickster.com/4zv94ykc94ka7py" role="button">BUY TICKETS HERE</a><br></br>
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-12 col-lg-6">
                      <h5>AMELIE</h5>
                      <h5>21 May 2022</h5>
                      <p class="link">Read about the movie on IMDb <a target="_blank" href="https://www.imdb.com/title/tt0211915/?ref_=fn_al_tt_1">HERE</a>.</p>
                    </div>
                    <div class="col-12 col-lg-6" id="buy-button">
                      <a class="btn btn-secondary btn-lg" target="_blank" href="https://secure.tickster.com/v0bbjl5xu4drdk4" role="button">BUY TICKETS HERE</a><br></br>
                    </div>
                  </div>
                </div>
            <h2 id="gift-card">GIFT CARD</h2>
              <div class="container id="giftcard">
                  <div class="row">
                    <div class="col-12 col-lg-6">
                      <p>You can purchase a Gift Card for the Home Experience. It is valid for the next four Home Experience movies listed above.</p>
                    </div>
                    <div class="col-12 col-lg-6" id="buy-button">
                      <a class="btn btn-secondary btn-lg" target="_blank" href="https://secure.tickster.com/ypyk6cbeu859w7m" role="button">BUY GIFT CARD HERE</a><br></br>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
