<div class="background" style="background-image: url(https://res.cloudinary.com/dlsa2pdia/image/upload/v1624699532/Gingham_pvum9m.jpg)">
  <div class="event-page-part-1">
    <div class="about-events">
      <h1 id="smaller-title-3">RECOMMENDED DRINKS</h1>
        <h2 id="beer-title">BEER</h2>
          <h4 class="link"><a target="_blank" href="https://www.systembolaget.se/produkt/ol/1664-151703/">Kronenbourg 1664</a></h4>
            <p>French easy-drinking beer with a citrus feel.</p>
        <h2 class="alcohol-title">WHITE WINE</h2>
          <h4 class="link"><a target="_blank" href="https://www.systembolaget.se/produkt/vin/petit-chablis-domaine-sainte-claire-558801/">Petit Chablis Domaine Sainte Claire</a></h4>
            <p>Chablis! Light, mineral-powered and refreshing. Simplest quality level in the classification, but anything but a simple wine!</p>
        <h2 class="alcohol-title">RED WINE</h2>
          <h4 class="link"><a target="_blank" href="https://www.systembolaget.se/produkt/vin/cotes-du-rhone-201101/">Le Domaine Guigal</a></h4>
            <p>Wines from the Rhône Valley are available in a thousand forms. Everything from sweet,
            to spicy, juicy and with character! In the wine world, for some reason, one
            must not say that a wine is affordable, but getting more wine for the money than this is difficult!</p>
          <h3><%=link_to "BACK", delivery_path, class: "btn btn-link-drinks"%></h3>
    </div>
  </div>
</div>

