<div class="background" style="background-image: url(https://res.cloudinary.com/dlsa2pdia/image/upload/v1624699532/Gingham_pvum9m.jpg)">
  <div class="event-page-part-1">
      <div class="about-events">
            <h1>TICKETS</h1>
              <h2>WHEN</h2>
                <p>13 September 2021 at 19:00</p>
                  <p>20 September 2021 at 19:00</p>
              <h2>WHERE</h2>
                <p class="link"><a target="_blank" href="https://www.thesparrow.se/en">The Sparrow Hotel</a></p>
                  <p>Birger Jarlsgatan, 24, 114 34 Stockholm</p>
              <h2>MOVIE</h2>
                <h5>AMELIE</h5>
                  <p>Amelie is not like other girls. The Montmarte cafe waitress has seen her fair share of tragedy in life but above all, she’s bursting with imagination and good intentions. One day, she decides to help others and along the way, she discovers love.</p>
                    <p class="link">Read more about the movie on <a target="_blank" href="https://www.imdb.com/title/tt0211915/?ref_=fn_al_tt_1"> IMDb here</a>.</p>
                      <p>Amelie will be shown in French with Swedish subtitles.</p>
              <h2>THE EXPERIENCE</h2>
                  <p>Mathias Dahlgren Restaurant has crafted a curated tasting menu for each film moment. Guided by Taste the Scene, you will receive culinary delights in a custom-made box upon arrival at The Sparrow Hotel. You are invited to come closer to Amelie’s own Parisian universe through the medium of taste, touch and smell.</p>
                    <img class="box-pic" id="box-pic-1" src="https://i.imgur.com/UTsKr0c.jpg">
              <h2>COST</h2>
                <p>The ticket price is 795kr per person.</p>
                  <p>This includes the cost of admission and a custom-made tasting menu box that contains 9 bite sized servings and 2 miniature non-alcoholic beverages.</p>
                    <p>Additional drinks (alcoholic and non-alcoholic) are available to be purchased at the event.</p>
              <h2>IMPORTMANT INFORMATION</h2>
                <p class="link">We are able to cater for vegetarians and allergies towards nuts and gluten, but unfortunately unable to cater for any other dietary requirements, including lactose intolerance and vegans. If you have any questions regarding this, please email <a href="mailto:info@tastethescene.com">info@tastethescene.com</a>.</p>
                  <p>Please do eat beforehand as this is a gastronomic experience but does not consist of a full meal.</p>
                      <p>The maximum number of tickets that can be bought by one person is 4. Guests will be seated in pairs.</p>
                        <p>Cancellation and refunds policy: If you cancel up to 48 hours before the start of the event, you will receive a full refund. Reservations cancelled within 48 hours of the event will not be refundable.</p>
                <a class="btn btn-link" id="ticket-button" href="https://events.magnetevents.com/Event/taste-the-scene-launch-43417/" role="button">BUY TICKETS</a>
            </div>
          </div>
</div>

