<div class="background" style="background-image: url(https://res.cloudinary.com/dlsa2pdia/image/upload/v1624699532/Gingham_pvum9m.jpg)">
  <div class="banner">
      <img class="tts" src="https://res.cloudinary.com/dlsa2pdia/image/upload/v1626974663/Taste_the_scene-MD_qszhxb.png">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <a class="btn btn-link" href="#about" role="button">ABOUT</a>
        </div>
          <div class="col-12 col-lg-6">
            <a class="btn btn-link" href="#events" role="button">EVENTS</a>
          </div>
        </div>
    </div>
  </div>
    <div class="about-events">
      <div id="about">
        <h2>ABOUT</h2>
          <p>Taste the Scene is a cinematic experience that challenges your senses by inviting you to taste, smell and touch scenes of a movie.</p>
          <p class="link">The experience includes a cuisine box that contains several servings created and crafted by <a target="_blank" href="https://mdghs.se/">Mathias Dahlgren Restaurant</a>.</p>
          <p>Whilst watching a movie you will eat or drink the servings at specific scenes, creating a gastronomic journey for all your senses.</p>
          <p>The movies are carefully selected so that the most innovative servings can be enjoyed alongside the most entertaining and revered films.</p>
      </div>
        <div id="events">
          <h2>EVENTS</h2>
            <p class="link">Taste the Scene will launch in September 2021 at <a target="_blank" href="https://www.thesparrow.se/en">The Sparrow Hotel</a> in Stockholm.</p>
            <p class="link">For more information or to gain exclusive pre-sale access to tickets, please email <a href="mailto:info@tastethescene.com">info@tastethescene.com</a> or follow us on <a target="_blank" href="https://www.instagram.com/tastethescene/">Instagram</a>.</p>
              <!--<a class="btn btn-link" href="/orders/new">BOOK TICKETS</a>-->
        </div>
    </div>
</div>
