<div class="background" style="background-image: url(https://res.cloudinary.com/dlsa2pdia/image/upload/v1624699532/Gingham_pvum9m.jpg)">
  <div class="banner">
      <img class="tts" src="https://res.cloudinary.com/dlsa2pdia/image/upload/v1626974663/Taste_the_scene-MD_qszhxb.png">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <a class="btn btn-link" href="/about" role="button">ABOUT</a>
        </div>
          <div class="col-12 col-lg-6">
           <a class="btn btn-link" href="/events" role="button">TICKETS</a>
          </div>
        </div>
    </div>
  </div>
</div>
