<div class="banner">
  <div class="title">
    <h1>Taste The Scene</h1>
      <p>The ultimate film night in Stockholm</p>
      <p>Experience a film with all your senses</p>
  </div>
</div>

<div class="film-choice">
  <div class="film-title">
    <h1>Film of the week:</h1>
    <h1>Amelie från Montmartre</h1>
  </div>
</div>

<div class="information">
  <div class="information-text">
    <h1>Available here:</h1>
    <h2>Time: 20:00 Saturday</h2>
    <h2>Delivery during the day</h2>
    <h3>Options</h3>
    <h3>1. 400 SEK for 5 courses/boxes</h3>
    <h3>2. 500 SEK for 8 courses/boxes</h3>
    <h3>3. 600 SEK for 10 courses/boxes</h3>
    <h3>Please Note</h3>
    <p>This is a gastronomic experience, not a full meal. All boxes will be served cold.</p>
    <p>Currently we can only deliver in central Stockholm (inside the walls).</p>
    <p>The cost of watching or steaming the film is not included.</p>
  </div>
</div>

