<div class="background" style="background-image: url(https://res.cloudinary.com/dlsa2pdia/image/upload/v1624699532/Gingham_pvum9m.jpg)">
  <div class="event-page-part-1">
    <div class="about-events">
      <h1 id="smaller-title-2">INGREDIENTS</h1>
        <!--<p>More details regarding ingredients coming soon.</p>-->
        <p>Here are the ingredients for each serving:</p>
          <br>
          <ol>
            <li>Egg yolks, shiitake mushroom, rapeseed oil, Dijon mustard, lemon, dashi broth, soy, mirin, rice vinegar, juniper, chervil, golden glitter (<i>E555</i>, color: <i>E171, E172, E102</i>).</li>
              <br>
            <li>Plum tomato, olive oil, garlic, oregano, thyme, aged cheese, levain bread (gluten & milk protein).</li>
              <br>
            <li>Popcorn, salt, rapeseed oil, dark chocolate, peanuts, M&M's (milk chocolate, peanuts, sugar, cocoa mass, milk powder, cocoa butter, starch, palm oil, glucose, shea oil, stabilizer arbicum, soy lecithin, <i>E100, E133, E160a, E160e, E162, E172</i>, carnauba wax, salt, vanilla) (nuts & lactose).</li>
              <br>
            <li>Peanuts, milk, salt (nuts & lactose).</li>
              <br>
            <li>Orange, lime, apple, ginger.</li>
              <br>
            <li>Potatoes, egg yolks, vinegar, Dijon mustard, olive oil, rapeseed oil, beer, onion, thyme.</li>
              <br>
            <li>Eggs, butter, cocoa, flour, sugar, white chocolate, popping candy (sugar, glucose, cocoa butter, milk, <i>E290</i>) (gluten & lactose).</li>
              <br>
            <li>Iota, lemon, sugar, white syrup, citric acid, yellow coloring.</li>
              <br>
            <li>Milk, sugar, vanilla, eggs, maizena, flour, butter, coffee, espresso, cream, ladyfingers (glucose, ammonium bicarbonate, sodium bicarbonate, disodium phosphate) (gluten & lactose).</li>
              <br>
            <li>Pumpkin, sugar, sea buckthorn, olive oil, pumpkin seeds.</li>
              <br>
            <li>Eggs, sugar, butter, milk, lemon, vanilla, flour, baking powder, iota, silver sprinkle (anti-caking agent: <i>E555</i>, color: <i>E171, E172, E102</i>), sugar pearls (sugar, starch, corn/wheat starch, <i>E904, E133, E171</i>, vegetable oil) (gluten & lactose).</li>
              <br>
          </ol>
        <p class="link">If you are allergic or have an intolerance to any of the ingredients above, please email us at <a href="mailto:info@tastethescene.com">info@tastethescene.com</a>.</p>
    </div>
  </div>
</div>
