<div class="background" style="background-image: url(https://res.cloudinary.com/dlsa2pdia/image/upload/v1624699532/Gingham_pvum9m.jpg)">
  <div class="event-page-part-1">
    <div class="about-events">
      <h1 id="smaller-title-2">INGREDIENTS</h1>
        <p>Here are the ingredients for each serving:</p>
          <br>
          <ol>
            <li>Raspberries, lemon verbena, sugar, lime juice.</li>
              <br>
            <li>Västerbotten cheese, cress, fennel, salt, cream, eggs, wheat flour.</li>
              <br>
            <li>White endive, olives, red pepper, feta cheese, cherry vinegar, olive oil, salt, pepper, olives.</li>
              <br>
            <li>Almnäs brick cheese, wreck brook cheese, honeydew melon, Valencia almond.</li>
              <br>
            <li>Lemon juice, green pepper, sugar.</li>
              <br>
            <li>Tomato, stracciatella, Chardonnay vinegar, silver onion, basil, rapeseed oil, olive oil, salt, pepper.</li>
              <br>
            <li>Artichoke, red wine vinegar, lemon juice, salt, Chardonnay vinegar, roe.</li>
              <br>
            <li>Butter, maple syrup, baking powder, gluten-free flour, sugar, cardamom.</li>
              <br>
            <li>Milk, cream, egg yolk, sugar, vanilla bean, pineapple, nectarine, rum, lime juice.</li>
              <br>
            <li>Black tea, agar agar.</li>
              <br>
            <li>Freeze-dried strawberry, raspberry, blueberry, lactose, carbon dioxide, cocoa butter, glucose, sugar.</li>
              <br>
          </ol>
        <p class="link">If you are allergic or have an intolerance to any of the ingredients above, please email us at <a href="mailto:info@tastethescene.com">info@tastethescene.com</a>.</p>
      <h3><%=link_to "TO THE HOME PAGE", root_path, class: "btn btn-link-ingredients"%></h3>
    </div>
  </div>
</div>
