<div class="background" style="background-image: url(https://res.cloudinary.com/dlsa2pdia/image/upload/v1624699532/Gingham_pvum9m.jpg)">
  <div class="event-page-part-1">
    <div class="about-events">
      <h1 id="smaller-title-2">INGREDIENTS</h1>
        <!--<p>More details regarding ingredients coming soon.</p>-->
        <p>Here are the ingredients for each serving:</p>
          <br>
          <ol>
            <li>Shiitake mushroom, egg yolk, rapeseed oil, Dijon mustard, lemon, dashi broth, soy, mirin, rice vinegar, juniper, Spanish chervil.</li>
              <br>
            <li>Tomato, olive oil, garlic, oregano, thyme, aged cheese, levain bread (gluten & milk protein).</li>
              <br>
            <li>Popcorn, salt, rapeseed oil, dark chocolate, peanuts, M&M’s (nuts & lactose).</li>
              <br>
            <li>Peanuts, milk, salt (nuts & lactose).</li>
              <br>
            <li>Orange, lime, apple, ginger.</li>
              <br>
            <li>Potatoes, egg yolks, vinegar, Dijon mustard, olive oil, rapeseed oil, beer, yellow onion, thyme.</li>
              <br>
            <li>Eggs, butter, cocoa, flour, sugar (lactose & gluten).</li>
              <br>
            <li>Iota, lemon, sugar, white syrup, citric acid.</li>
              <br>
            <li>Milk, sugar, vanilla, eggs, maizena, flour, butter, coffee, espresso, cream, yeast (gluten & lactose).</li>
              <br>
            <li>Pumpkin, sugar, sea buckthorn, olive oil.</li>
              <br>
            <li>Eggs, sugar, butter, milk, lemon, vanilla, flour, baking powder, jota (gluten & lactose).</li>
              <br>
          </ol>
        <p class="link">If you are allergic or have an intolerance to any of the ingredients above, please email us at <a href="mailto:info@tastethescene.com">info@tastethescene.com</a>.</p>
    </div>
  </div>
</div>
