<div class="background" style="background-image: url(https://res.cloudinary.com/dlsa2pdia/image/upload/v1624699532/Gingham_pvum9m.jpg)">
  <div class="event-page-part-1">
    <div class="about-events">
      <h1 id="smaller-title-2">INGREDIENTS</h1>
        <!--<p>More details regarding ingredients coming soon.</p>-->
        <p>Here are the ingredients for each serving:</p>
          <br>
          <ol>
            <li>Merlot grape.</li>
              <br>
            <li>Apple, sugar, butter, oats, gluten-free flour, cardamom, salt.</li>
              <br>
            <li>Potatoes, salt, oil, green tomato, vinegar, sugar, salt, Philadelphia, onion powder, green Tabasco.</li>
              <br>
            <li>Tomato juice, red Tabasco, lemon juice, black pepper, Worcestershire sauce.</li>
              <br>
            <li>Potato starch, water, grapefruit essence.</li>
              <br>
            <li>Tomato, red pepper (roasted and raw), salt, black pepper, garlic, olive oil, almonds (roasted), pecan, red wine vinegar.</li>
              <br>
            <li>Green pepper, coriander seeds, black pepper, paprika powder, white pepper, cumin, olive oil, salt, cream, eggs, pickled cucumber, sauerkraut, red onion, vinegar, sugar, pasteurized milk, sourdough, whole grain rye, rennet, "Matbarsråg" dala whole grain, water.</li>
              <br>
            <li>Water, sugar, glucose, plums (plum syrup), rose water essence, agar agar, rose petals.</li>
              <br>
            <li>Celeriac, chardonnay vinegar, salt, olive oil, "Matbarsråg" (dala wheat, sifted spelled, whole grain rye, dala whole grains, salt, water), crisp salad, romaine lettuce.</li>
              <br>
            <li>Brown sugar, sugar, peanuts, butter, chocolate, milk, glucose.</li>
              <br>
            <li>Butter, rye flour, baking powder, salt, eggs, vanilla sugar, roasted coconut, freeze-dried raspberries, blueberries, strawberries, chocolate, "Popping Candy" (sugar, water, glucose, cocoa butter, milk).</li>
              <br>
          </ol>
        <p class="link">If you are allergic or have an intolerance to any of the ingredients above, please email us at <a href="mailto:info@tastethescene.com">info@tastethescene.com</a>.</p>
    </div>
  </div>
</div>
