.footer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 30px;
  margin-top: -15px;
}

.footer-links a {
  color: #D4EBD9;
  text-decoration: none;
  font-size: 30px;
  margin: 10px 0px;
}

.footer-links a:hover {
  color: #edc2ed;
}

.email a {
  margin: 0px;
  color: #D4EBD9;
  text-decoration: none;
  font-size: 15px;
}

.email a:hover {
    color: #edc2ed;
}
