.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: white;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.8;
}
.footer-links p {
  margin: 0px 0px 0px 10px;
}

.email a {
  margin: 0px;
  color: white;
  text-decoration: none;
}

.email a:hover {
    opacity: 0.8;
}

#footer-title h5 {
  margin: 0px;
  padding-left: 70px;
}
