.footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 23vh;
  padding: 20px;
  margin-top: -15px !important;
}

.footer-links a {
  color: #D4EBD9;
  text-decoration: none;
  font-size: 30px;
}

.footer-links a:hover {
  color: #edc2ed;
  transition: color 0.3s ease;
}

.email a {
  color: #D4EBD9;
  text-decoration: none;
}

.email a:hover {
    color: #edc2ed;
    transition: color 0.3s ease;
}

.email h4 {
  text-align: center;
}

.footer-copyright p {
  color: #D4EBD9;
  margin: 0px !important;
  text-align: center;
  font-size: 14px;
}
