.navbar-lewagon {
  justify-content: right;
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.fas {
  font-size: 50px;
  color: black;
  padding: 10px 20px 0px 0px;
}

@media only screen and (max-width: 414px) {
  .fas {
    font-size: 40px;
    padding: 10px 0px 0px 450px;
  }
}

.dropdown-menu {
  border: 1px solid black;
  background-color: black;
}

.dropdown-item {
  color: #D4EBD9;
}

.dropdown-item:hover {
  background-color: black;
  color: #edc2ed;
}

.nav-item.dropdown::marker {
  color: transparent;
}

